@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './extensions/x-page';

:root {
  --color-primary: #5c6ac4;
  --color-secondary: #ecc94b;
  --color-border: #efefef;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}
