.variables-red {
  --color-black: #000;
  --color-white: #fff;
  --color-bg-base: #bf3732;
  --color-bg-panel: #bf3732;
  --color-bg-card: #d44641;
  --color-bg-panel-em: #bf3732;
  --color-bg-light: #bf3732;
  --color-bg-inverse: #efefef;
  --color-bg-active: #d05045;
  --color-bg-input: #fff;
  --color-bg-icon: #d05045;

  --color-bg-hover: #cf4742;
  --color-bg-highlight: var(--color-info-transparent);
  --color-bg-mask: rgba(255, 255, 255, 0.075);
  --color-bg-mask-light: rgba(255, 255, 255, 0.075);
  --color-bg-mask-dark: rgba(255, 255, 255, 0.1);
  --color-outline: #ce3232;

  --color-border: #d05045;
  --color-border-light: #d05045;
  --color-border-lighter: #fafcfe;
  --color-border-outer: #d05045;
  --color-border-inverse: #fff;

  --color-text: #fff;
  --color-text-light: #fff;
  --color-text-lighter: #a1a1a1;
  --color-text-muted: #f77473;
  --color-text-active: #fff;
  --color-text-highlight: #fff;
  --color-text-input: #5e5e5e;
  --color-text-placeholder: #aeaeae;
  --color-text-blackwhite: var(--color-white);

  --color-icon: #ccc;
  --color-icon-active: #fff;

  --color-shadow: rgba(0, 0, 0, 0.05);
  --color-badge: #5d6167;
  --color-badge-text: #fff;

  --controls-color: #3e3e3e;
  --controls-placeholder-color: #c1c1c1;

  --btn-color-text-active: #fff;

  --x-badge-background: var(--color-text-muted);
}
