{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 500,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "ignore"
}
