@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .variable-override {
    --font-family-primary: 'Inter var', Inter, 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --font-family-sans: 'Inter var', Inter, 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;

    --font-size-base: 15px;
    --x-card-radius: var(--radius);
    --x-card-shadow: var(--shadow);
  }

  html {
    height: 100%;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  body {
    min-height: 100%;
  }

  .bi {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

/* apply prefers-color-scheme */
@media (prefers-color-scheme: light) {
  :root {
    @apply variables-default variable-override;
  }

  .theme-light {
    @apply variables-default;
    background-color: var(--color-bg-base);
    color: var(--color-text);
  }

  .theme-dark {
    @apply variables-default variables-dark;
    background-color: var(--color-bg-base);
    color: var(--color-text);
  }

  .theme-inverse {
    @apply variables-default variables-dark;
    background-color: var(--color-bg-base);
    color: var(--color-text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply variables-default variables-dark variable-override;
  }

  .theme-light {
    @apply variables-default;
    background-color: var(--color-bg-base);
    color: var(--color-text);
  }

  .theme-dark {
    @apply variables-default variables-dark;
    background-color: var(--color-bg-base);
    color: var(--color-text);
  }

  .theme-inverse {
    @apply variables-default variables-light;
    background-color: var(--color-bg-base);
    color: var(--color-text);
  }
}

@media (max-width: 767px) {
  :root {
    --font-size-base: 15px;
  }
}
