.btn {
  @apply x-button;

  outline: none;

  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);

  & .icon {
    margin: 0 var(--btn-icon-margin);
  }

  &.btn-icon {
    font-size: var(--font-size-base);
  }

  /*
  &:not(.btn-icon) .icon {
    margin-left: 0;
  }

  &:not(.btn-plain):hover {
    background: var(--btn-color-bg-hover);
  }
  */

  &:hover {
    background-color: var(--btn-color-bg-hover);
  }

  &.active {
    background-color: var(--btn-color-bg-active);
    color: var(--btn-color-text-active);
  }

  &.btn-primary,
  &.btn-secondary,
  &.btn-info,
  &.btn-success,
  &.btn-warning,
  &.btn-danger,
  &.btn-system,
  &.btn-white,
  &.btn-black,
  &.btn-gray,
  &.btn-transparent,
  &.btn-default,
  &.btn-rounded,
  &.btn-outline,
  &.btn-xs,
  &.btn-sm,
  &.btn-md,
  &.btn-lg,
  &.btn-xl,
  &.btn-2xl,
  &.btn-3xl,
  &.btn-disabled {
    line-height: var(--btn-line-height);
    padding: 0 var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-weight: var(--btn-font-weight);
    margin: var(--btn-margin);

    /* color */
    &.btn-default {
      background-color: var(--btn-color-bg);
      color: var(--btn-color-text);

      &:hover {
        background-color: var(--btn-color-bg-hover);
      }

      &.active {
        background-color: var(--btn-color-bg-active);
        color: var(--btn-color-text-active);
      }
    }

    &.btn-primary {
      --btn-color-icon: var(--color-primary-text);
      --btn-color-icon-active: var(--color-primary-text-active);
      --btn-color-text: var(--color-primary-text);
      --btn-color-text-active: var(--color-primary-text-active);

      background-color: var(--color-primary);
      color: var(--color-primary-text);

      &:hover,
      &.active {
        background-color: var(--color-primary-active);
        color: var(--color-primary-text);
      }
    }

    &.btn-secondary {
      --btn-color-icon: var(--color-secondary-text);
      --btn-color-icon-active: var(--color-secondary-text-active);
      --btn-color-text: var(--color-secondary-text);
      --btn-color-text-active: var(--color-secondary-text-active);

      background-color: var(--color-secondary);
      color: var(--color-secondary-text);

      &:hover,
      &.active {
        background-color: var(--color-secondary-active);
        color: var(--color-secondary-text);
      }
    }

    &.btn-info {
      --btn-color-icon: var(--color-info-text);
      --btn-color-icon-active: var(--color-info-text-active);
      --btn-color-text: var(--color-info-text);
      --btn-color-text-active: var(--color-info-text-active);

      background-color: var(--color-info);
      color: var(--color-info-text);

      &:hover,
      &.active {
        background-color: var(--color-info-active);
        color: var(--color-info-text);
      }
    }

    &.btn-success {
      --btn-color-icon: var(--color-success-text);
      --btn-color-icon-active: var(--color-success-text-active);
      --btn-color-text: var(--color-success-text);
      --btn-color-text-active: var(--color-success-text-active);

      background-color: var(--color-success);
      color: var(--color-success-text);

      &:hover,
      &.active {
        background-color: var(--color-success-active);
        color: var(--color-success-text);
      }
    }

    &.btn-warning {
      --btn-color-icon: var(--color-warning-text);
      --btn-color-icon-active: var(--color-warning-text-active);
      --btn-color-text: var(--color-warning-text);
      --btn-color-text-active: var(--color-warning-text-active);

      background-color: var(--color-warning);
      color: var(--color-warning-text);

      &:hover,
      &.active {
        background-color: var(--color-warning-active);
        color: var(--color-warning-text);
      }
    }

    &.btn-danger {
      --btn-color-icon: var(--color-danger-text);
      --btn-color-icon-active: var(--color-danger-text-active);
      --btn-color-text: var(--color-danger-text);
      --btn-color-text-active: var(--color-danger-text-active);

      background-color: var(--color-danger);
      color: var(--color-danger-text);

      &:hover,
      &.active {
        background-color: var(--color-danger-active);
        color: var(--color-danger-text);
      }
    }

    &.btn-system {
      --btn-color-icon: var(--color-system-text);
      --btn-color-icon-active: var(--color-system-text-active);
      --btn-color-text: var(--color-system-text);
      --btn-color-text-active: var(--color-system-text-active);

      background-color: var(--color-system);
      color: var(--color-system-text);

      &:hover,
      &.active {
        background-color: var(--color-system-active);
        color: var(--color-system-text);
      }
    }

    &.btn-white {
      --btn-color-icon: var(--color-black);
      --btn-color-icon-active: var(--color-black);
      --btn-color-text: var(--color-black);
      --btn-color-text-active: var(--color-black);

      background-color: var(--color-white);
      color: var(--color-black);

      &:hover,
      &.active {
        background-color: var(--color-gray-100);
        color: var(--color-black);
      }
    }

    &.btn-gray {
      --btn-color-icon: var(--color-white);
      --btn-color-icon-active: var(--color-white);
      --btn-color-text: var(--color-white);
      --btn-color-text-active: var(--color-white);

      background-color: var(--color-gray);
      color: var(--color-white);

      &:hover,
      &.active {
        background-color: var(--color-gray-active);
        color: var(--color-white);
      }
    }

    &.btn-black {
      --btn-color-icon: var(--color-white);
      --btn-color-icon-active: var(--color-white);
      --btn-color-text: var(--color-white);
      --btn-color-text-active: var(--color-white);

      background-color: var(--color-black);
      color: var(--color-white);

      &:hover,
      &.active {
        background-color: var(--color-gray-900);
        color: var(--color-white);
      }
    }

    &.btn-transparent {
      --btn-color-icon: var(--color-text);
      --btn-color-icon-active: var(--color-text-active);
      --btn-color-text: var(--color-text);
      --btn-color-text-active: var(--color-text-active);

      background-color: transparent;
      color: var(--color-text);

      &:hover {
        background-color: var(--btn-color-bg-hover);
        color: var(--color-text);
      }

      &:hover {
        background-color: var(--btn-color-bg-active);
        color: var(--color-text);
      }
    }

    /* btn outline */
    &.btn-outline {
      border: var(--btn-outline);
      background-color: transparent;

      &.btn-default {
        border-color: var(--btn-color-outline);
        color: var(--btn-color-text);

        &:hover,
        &.active {
          border-color: var(--btn-color-bg-hover);
          background-color: var(--btn-color-bg-hover);
          color: var(--btn-color-text-active);
        }
      }

      &.btn-primary {
        border-color: var(--color-primary-outline);
        color: var(--color-primary);

        &:hover,
        &.active {
          border-color: var(--color-primary-active);
          background-color: var(--color-primary-active);
          color: var(--color-primary-text-active);
        }
      }

      &.btn-secondary {
        border-color: var(--color-secondary-outline);
        color: var(--color-secondary);

        &:hover,
        &.active {
          border-color: var(--color-secondary-active);
          background-color: var(--color-secondary-active);
          color: var(--color-secondary-text-active);
        }
      }

      &.btn-info {
        border-color: var(--color-info-outline);
        color: var(--color-info);

        &:hover,
        &.active {
          border-color: var(--color-info-active);
          background-color: var(--color-info-active);
          color: var(--color-info-text-active);
        }
      }

      &.btn-success {
        border-color: var(--color-success-outline);
        color: var(--color-success);

        &:hover,
        &.active {
          border-color: var(--color-success-active);
          background-color: var(--color-success-active);
          color: var(--color-success-text-active);
        }
      }

      &.btn-warning {
        border-color: var(--color-warning-outline);
        color: var(--color-warning);

        &:hover,
        &.active {
          border-color: var(--color-warning-active);
          background-color: var(--color-warning-active);
          color: var(--color-warning-text-active);
        }
      }

      &.btn-danger {
        border-color: var(--color-danger-outline);
        color: var(--color-danger);

        &:hover,
        &.active {
          border-color: var(--color-danger-active);
          background-color: var(--color-danger-active);
          color: var(--color-danger-text-active);
        }
      }

      &.btn-system {
        border-color: var(--color-system-outline);
        color: var(--color-system);

        &:hover,
        &.active {
          border-color: var(--color-system-active);
          background-color: var(--color-system-active);
          color: var(--color-system-text-active);
        }
      }

      &.btn-white {
        border-color: var(--color-white);
        color: var(--color-white);

        &:hover,
        &.active {
          border-color: var(--color-white);
          background-color: var(--color-white);
          color: var(--color-black);
        }
      }

      &.btn-gray {
        border-color: var(--color-gray);
        color: var(--color-gray);

        &:hover,
        &.active {
          border-color: var(--color-gray);
          background-color: var(--color-gray);
          color: var(--color-white);
        }
      }

      &.btn-black {
        border-color: var(--color-black);
        color: var(--color-black);

        &:hover,
        &.active {
          border-color: var(--color-black);
          background-color: var(--color-black);
          color: var(--color-white);
        }
      }
    }

    /* sizing */
    &.btn-2xs {
      font-size: calc(var(--btn-font-size) * 0.65);
      line-height: calc(var(--btn-line-height) * 0.5);
      padding: 0 calc(var(--btn-padding) * 0.5);
    }

    &.btn-xs {
      font-size: calc(var(--btn-font-size) * 0.83);
      line-height: calc(var(--btn-line-height) * 0.6);
      padding: 0 calc(var(--btn-padding) * 0.5);
    }

    &.btn-sm {
      font-size: calc(var(--btn-font-size) * 0.9);
      line-height: calc(var(--btn-line-height) * 0.7);
      padding: 0 calc(var(--btn-padding) * 0.7);
    }

    &.btn-lg {
      font-size: calc(var(--btn-font-size) * 1);
      line-height: calc(var(--btn-line-height) * 1.3);
      padding: 0 calc(var(--btn-padding) * 1.3);
    }

    &.btn-xl {
      font-size: calc(var(--btn-font-size) * 1.1);
      line-height: calc(var(--btn-line-height) * 1.6);
      padding: 0 calc(var(--btn-padding) * 1.6);
    }

    &.btn-2xl {
      font-size: calc(var(--btn-font-size) * 1.3);
      line-height: calc(var(--btn-line-height) * 1.8);
      padding: 0 calc(var(--btn-padding) * 2);
    }

    &.btn-3xl {
      font-size: calc(var(--btn-font-size) * 1.4);
      line-height: calc(var(--btn-line-height) * 2.3);
      padding: 0 calc(var(--btn-padding) * 3);
    }

    /* rounded */
    &.btn-rounded {
      border-radius: var(--btn-rounded-radius);
      padding: 0 var(--btn-padding-rounded);

      &.btn-2xs {
        padding: 0 calc(var(--btn-padding-rounded) * 0.35);
      }

      &.btn-xs {
        padding: 0 calc(var(--btn-padding-rounded) * 0.5);
      }

      &.btn-sm {
        padding: 0 calc(var(--btn-padding-rounded) * 0.75);
      }

      &.btn-lg {
        padding: 0 calc(var(--btn-padding-rounded) * 1.3);
      }

      &.btn-xl {
        padding: 0 calc(var(--btn-padding-rounded) * 1.6);
      }

      &.btn-2xl {
        padding: 0 calc(var(--btn-padding-rounded) * 2);
      }

      &.btn-3xl {
        padding: 0 calc(var(--btn-padding-rounded) * 3);
      }
    }

    /* disabled */
    &.btn-disabled {
      cursor: not-allowed;
      background-color: var(--btn-color-bg) !important;
      color: var(--color-text-muted) !important;
      border-color: var(--color-border) !important;

      &:hover,
      &.active {
        background-color: var(--btn-color-bg-active) !important;
        color: var(--color-text-muted) !important;
      }
    }

    /* icon only */
    &.btn-icon {
      --btn-padding: var(--btn-padding-icon-only);

      & .icon {
        margin: 0;
        margin-bottom: 2px;
      }

      &:hover,
      &.active {
        color: var(--btn-color-text-active);
      }
    }
  }
}
