.x-alert {
  padding: 1rem 1.25rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-size: var(--font-size-sm);
  border-width: 1px;
  border-radius: 0.5rem;
  border-radius: var(--radius);

  color: var(--color-text);
  background-color: var(--color-gray-bg);
  border-color: var(--color-gray-border);

  &:last-child {
    margin-bottom: 0;
  }
}

.x-alert-primary {
  color: var(--color-primary);
  border-color: var(--color-primary-border);
  background-color: var(--color-primary-bg);
}

.x-alert-secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary-border);
  background-color: var(--color-secondary-bg);
}

.x-alert-success {
  color: var(--color-success);
  border-color: var(--color-success-border);
  background-color: var(--color-success-bg);
}

.x-alert-info {
  color: var(--color-info);
  border-color: var(--color-info-border);
  background-color: var(--color-info-bg);
}

.x-alert-warning {
  color: var(--color-warning);
  border-color: var(--color-warning-border);
  background-color: var(--color-warning-bg);
}

.x-alert-danger {
  color: var(--color-danger);
  border-color: var(--color-danger-border);
  background-color: var(--color-danger-bg);
}

.x-alert-system {
  color: var(--color-system);
  border-color: var(--color-system-border);
  background-color: var(--color-system-bg);
}

.x-alert-gray {
  color: var(--color-text);
  background-color: var(--color-gray-bg);
  border-color: var(--color-gray-border);
}
