.x-card {
  @apply flex flex-col;
  background-color: var(--x-card-color-bg);
  border-radius: var(--x-card-radius);
  border: 1px solid var(--x-card-color-border-outer);
  box-shadow: var(--x-card-shadow);

  & > .x-card-header {
    @apply x-row;
    background-color: var(--x-card-header-color-bg);
    border-bottom: 1px solid var(--x-card-color-border);
    color: var(--x-card-header-color-text);
    font-size: var(--x-card-header-font-size);
    font-weight: var(--x-card-header-font-weight);

    &.x-card-header-sm {
      line-height: 2.5;
      font-weight: normal;
      font-size: 0.9em;
    }
  }

  & > .x-card-footer {
    border-top: 1px solid var(--x-card-color-border);
  }
}

.x-card-title {
  font-size: var(--x-card-title-font-size);
  font-weight: var(--x-card-title-font-weight);
  color: var(--x-card-title-color);
  margin: 0 0 0.35rem 0.25rem;
}
