.x-card {
  --x-card-color-bg: var(--color-bg-panel);
  --x-card-color-border-outer: var(--color-border-outer);
  --x-card-color-border: var(--color-border);
  --x-card-radius: var(--radius-sm);
  --x-card-shadow: 0 1px 4px var(--color-shadow);

  --x-card-header-color-bg: transparent;
  --x-card-header-color-text: var(--color-text);
  --x-card-header-font-size: var(--font-size-base);
  --x-card-header-font-weight: var(--font-weight-semibold);

  display: block;
  background-color: var(--x-card-color-bg);
  border-radius: var(--x-card-radius);
  border: 1px solid var(--x-card-color-border-outer);
  box-shadow: var(--x-card-shadow);

  & > .x-card-header {
    @apply x-row;
    background-color: var(--x-card-header-color-bg);
    border-bottom: 1px solid var(--x-card-color-border);
    color: var(--x-card-header-color-text);
    font-size: var(--x-card-header-font-size);
    font-weight: var(--x-card-header-font-weight);
  }

  & > .x-card-footer {
    border-top: 1px solid var(--x-card-color-border);
  }
}