.x-caret {
  display: inline-block;
  margin-left: .65rem;
  margin-bottom: 4px;
  vertical-align: middle;
  content: '';
  width: 0.42em;
  height: 0.42em;
  border: 1px solid;
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg);
}

.x-caret-down {
  @apply x-caret;
  transform: rotate(45deg);
}
