input.x-checkbox {
  display: none;
  user-select: none;

  & + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    font-size: 12px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  & + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border: 2px solid #4c4e53;
    border-radius: 2px;
    vertical-align: middle;
    background: white;
  }

  &:checked + label:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: 12px;
    color: #4c4e53;
    text-align: center;
    line-height: 17px;
  }

  &.x-checkbox-default + label:before {
    border-color: var(--color-border);
    color: var(--color-text);
  }

  &.x-checkbox-primary + label:before {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  &.x-checkbox-info + label:before {
    border-color: var(--color-info);
    color: var(--color-info);
  }

  &.x-checkbox-success + label:before {
    border-color: var(--color-success);
    color: var(--color-success);
  }

  &.x-checkbox-warning + label:before {
    border-color: var(--color-warning);
    color: var(--color-warning);
  }

  &.x-checkbox-danger + label:before {
    border-color: var(--color-danger);
    color: var(--color-danger);
  }

  &.x-checkbox-system + label:before {
    border-color: var(--color-system);
    color: var(--color-system);
  }
}

.x-checkbox-agreement {
  display: block;
  padding: 8px 0;

  & input[type='checkbox'] {
    display: none;

    & + label {
      font-weight: normal;
      display: inline-block;
      cursor: pointer;
      position: relative;
      margin-bottom: 0;
      line-height: 28px;
      padding-left: 38px;
    }

    & + label:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 5px;

      width: 28px;
      height: 28px;
      margin-top: -5px;
      margin-right: 10px;
      border: 2px solid var(--color-primary);
      border-radius: 50%;
      background: white;
    }

    & + label:before {
      font-family: 'FontAwesome';
      content: '\f00c';
      color: var(--color-primary);
      text-align: center;
      line-height: 26px;
      font-size: 0;
    }

    &:checked + label:before {
      font-size: 15px;
    }
  }

  & a {
    color: var(--color-primary);
    margin-left: 8px;
    font-size: 1em;
    font-weight: normal;
    padding: 5px 0;
  }

  &.x-checkbox-default > input[type='checkbox'] + label:before {
    border-color: var(--color-border);
    color: var(--color-text);
  }

  &.x-checkbox-primary > input[type='checkbox'] + label:before {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  &.x-checkbox-info > input[type='checkbox'] + label:before {
    border-color: var(--color-info);
    color: var(--color-info);
  }

  &.x-checkbox-success > input[type='checkbox'] + label:before {
    border-color: var(--color-success);
    color: var(--color-success);
  }

  &.x-checkbox-warning > input[type='checkbox'] + label:before {
    border-color: var(--color-warning);
    color: var(--color-warning);
  }

  &.x-checkbox-danger > input[type='checkbox'] + label:before {
    border-color: var(--color-danger);
    color: var(--color-danger);
  }

  &.x-checkbox-system > input[type='checkbox'] + label:before {
    border-color: var(--color-system);
    color: var(--color-system);
  }
}
