label.x-checkbox {
  user-select: none;

  & > input {
    display: none;
    user-select: none;
  }

  & > span {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: var(--x-checkbox-label-margin);
    vertical-align: middle;
    line-height: 24px;
  }

  & > span:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: var(--x-checkbox-top);
    left: 0;
    border: var(--x-checkbox-border);
    border-radius: var(--x-checkbox-border-radius);
    vertical-align: middle;
    background-color: var(--x-checkbox-bg);
    transition: background-color 0.1s ease-out;
  }

  & > input[type='checkbox'] + span:before {
    border-radius: var(--x-checkbox-border-radius);
  }

  &.x-checkbox-rounded > input[type='checkbox'] + span:before {
    border-radius: var(--radius-full);
  }

  & > input[type='radio'] + span:before {
    border-radius: var(--radius-full);
  }

  &.x-checkbox-square > input[type='radio'] + span:before {
    border-radius: var(--x-checkbox-border-radius);
  }

  &.x-checkbox-square > span:before {
    border-radius: var(--x-checkbox-border-radius);
  }

  &.x-checkbox-rounded > span:before {
    border-radius: var(--radius-full);
  }

  & > input:checked + span:before {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  & > input[type='checkbox']:checked + span:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    text-align: center;
  }

  & > input[type='radio']:checked + span:after {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    background-size: 75%;
    text-align: center;
    content: '';
    top: 8px;
    left: calc(8px - 2px);
    right: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 25%;
  }

  &.x-checkbox-default > input:checked + span:before,
  &.x-checkbox-default > input:checked + span:after {
    border-color: var(--color-text-light);
    background-color: var(--color-text-light);
  }

  &.x-checkbox-primary > input:checked + span:before,
  &.x-checkbox-primary > input:checked + span:after {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  &.x-checkbox-secondary > input:checked + span:before,
  &.x-checkbox-secondary > input:checked + span:after {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
  }

  &.x-checkbox-info > input:checked + span:before,
  &.x-checkbox-info > input:checked + span:after {
    border-color: var(--color-info);
    background-color: var(--color-info);
  }

  &.x-checkbox-success > input:checked + span:before,
  &.x-checkbox-success > input:checked + span:after {
    border-color: var(--color-success);
    background-color: var(--color-success);
  }

  &.x-checkbox-warning > input:checked + span:before,
  &.x-checkbox-warning > input:checked + span:after {
    border-color: var(--color-warning);
    background-color: var(--color-warning);
  }

  &.x-checkbox-danger > input:checked + span:before,
  &.x-checkbox-danger > input:checked + span:after {
    border-color: var(--color-danger);
    background-color: var(--color-danger);
  }

  &.x-checkbox-system > input:checked + span:before,
  &.x-checkbox-system > input:checked + span:after {
    border-color: var(--color-system);
    background-color: var(--color-system);
  }

  &.x-checkbox-black > input:checked + span:before,
  &.x-checkbox-black > input:checked + span:after {
    border-color: var(--color-black);
    background-color: var(--color-black);
  }

  & > input[type='radio']:checked + span:before {
    background-color: var(--x-checkbox-bg);
    border-width: 2px;
  }
}
