.x-contextmenu {
  min-width: var(--x-contextmenu-min-width);
  background-color: var(--x-contextmenu-bg);
  border: var(--x-contextmenu-border);
  border-radius: var(--x-contextmenu-border-radius);
  box-shadow: var(--x-contextmenu-shadow);
}
