.x-empty {
  text-align: center;
  padding: 200px 0;
  
  & .x-empty-icon {
    font-size: 120px;
    color: var(--text-color);
    
    /*
    & > .icon {
      text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
      background: -webkit-linear-gradient(vartext-color, 50%), fade(@text-color, 90%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    */
  }
  
  & .x-empty-text {
    font-size: 1.25em;
    font-weight: normal;
    color: var(--text-color-active);
    line-height: 60px;
    /* text-shadow: 2px 2px 3px rgba(255,255,255,0.1); */
  }
  
  & .x-empty-desc {
    margin-top: -10px;
    font-size: 0.95em;
    font-weight: normal;
    color: var(--text-color);
    /* text-shadow: 2px 2px 3px rgba(255,255,255,0.1); */
  }
}