.x-form {
  & input:not([type='checkbox']):not([type='radio']),
  select,
  textarea {
    @apply appearance-none;
  }

  & input,
  & textarea,
  & select {
    line-height: var(--controls-line-height);
    margin: var(--controls-margin);
    vertical-align: var(--controls-vertical-align);
    border: var(--controls-border);
    border-radius: var(--controls-border-radius);
    color: var(--controls-color);
    font-size: var(--controls-font-size);
    padding: var(--controls-padding);
    background-color: var(--controls-background-color);

    &:not(.outline-none):focus {
      @apply border-transparent outline-none shadow-outline;
    }

    &::placeholder {
      color: var(--controls-placeholder-color);
    }
  }

  & input[type='password'] {
    letter-spacing: 3px;

    &::placeholder {
      letter-spacing: initial;
    }
  }

  & select {
    background-image: var(--controls-select-chevron);
    background-position: var(--controls-select-chevron-position);
    background-repeat: no-repeat;
    background-size: var(--controls-select-chevron-size);
    padding-right: var(--controls-select-chevron-padding);

    & > option {
      padding: var(--controls-select-options-padding);
    }
  }

  & select[multiple] {
    background-image: none;
    background-size: 0;
    padding: 0;
    border-radius: var(--radius-sm);
  }

  & a:not(.outline-none):focus,
  & button:not(.outline-none):focus {
    outline: none;
    box-shadow: var(--outline);
  }
}

.x-form-control {
  line-height: var(--controls-line-height);
  margin: var(--controls-margin);
  padding: var(--controls-padding);
  border: var(--controls-border);
  border-radius: var(--controls-border-radius);

  vertical-align: var(--controls-vertical-align);
  color: var(--controls-color);
  font-size: var(--controls-font-size);
  background-color: var(--controls-background-color);

  &:not(.outline-none):focus {
    @apply border-transparent outline-none shadow-outline;
  }

  &::placeholder {
    color: var(--controls-placeholder-color);
  }

  &.error {
    @apply border-danger;

    &:not(.outline-none):focus {
      @apply border-transparent shadow-outline-danger;
    }
  }

  & .x-form-control-inner {
    line-height: calc(var(--controls-line-height) - 1px);
  }
}

.x-input {
  color: var(--controls-color);
  font-size: var(--controls-font-size);
  background-color: var(--controls-background-color);

  &:not(.outline-none):focus {
    @apply border-transparent outline-none shadow-outline;
  }

  &::placeholder {
    color: var(--controls-placeholder-color);
  }

  &.error {
    @apply border-danger;

    &:not(.outline-none):focus {
      @apply border-transparent shadow-outline-danger;
    }
  }
}

input.x-form-control:not([type='checkbox']):not([type='radio']),
select.x-form-control,
textarea.x-form-control {
  @apply appearance-none;
}

textarea.x-form-control {
  @apply w-full py-2 text-sm;
  line-height: var(--line-height);
}

select.x-form-control {
  background-image: var(--controls-select-chevron);
  background-position: var(--controls-select-chevron-position);
  background-repeat: no-repeat;
  background-size: var(--controls-select-chevron-size);
  padding-right: var(--controls-select-chevron-padding);

  & > option {
    padding: var(--controls-select-options-padding);
  }
}

select.x-form-control[multiple] {
  background-image: none;
  background-size: 0;
  padding: 0;
  border-radius: var(--radius-sm);
}

input.x-form-control[type='password'] {
  letter-spacing: 3px;

  &::placeholder {
    letter-spacing: initial;
  }
}

div.x-form-control {
  @apply flex items-center;
}

p.x-form-control,
span.x-form-control {
  @apply bg-transparent border-none px-0 font-semibold;
  line-height: var(--controls-line-height);
  margin: var(--controls-margin);
  vertical-align: var(--controls-vertical-align);
  color: var(--text-color);
}

/* message */
.x-form-control-message,
.x-form-control-error {
  @apply text-xs my-1 text-light;
  margin: var(--controls-margin);
}

.x-form-control-error {
  color: var(--color-warning);
}

.x-form-label {
  @apply block text-sm font-bold mb-2;
  line-height: 2.5;
  margin: 2px;
  padding: 0 2px;
  vertical-align: middle;
}

.x-control-group {
  /*
  & > * {
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin-left: 0;
    margin-right: 0;
  }

  &:first-child {
    border-radius: var(--controls-border-radius);
    border-left: var(--controls-border);
  }

  &:last-child {
    border-radius: var(--controls-border-radius);
    border-right: var(--controls-border);
  }
  */

  &:not(:only-child:first-child) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
  }

  &:not(:only-child:last-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }
}
