.x-iconbox {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--font-size-base) * 4 * var(--x-iconbox-size-factor));
  width: calc(var(--font-size-base) * 4 * var(--x-iconbox-size-factor));
  border-radius: var(--radius-sm);
  background-color: var(--x-iconbox-background-color);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  & > svg {
    height: 50%;
    width: 50%;
    fill: var(--x-iconbox-foreground-color);
  }

  & > img {
    height: 100%;
    width: 100%;
  }

  &.x-iconbox-3xs {
    height: var(--font-size-base);
    width: var(--font-size-base);
    border-radius: var(--radius-xs);
  }

  &.x-iconbox-2xs {
    height: calc(var(--font-size-base) * 1.5 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 1.5 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-xs);
  }

  &.x-iconbox-xs {
    height: calc(var(--font-size-base) * 2 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 2 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-xs);
  }

  &.x-iconbox-sm {
    height: calc(var(--font-size-base) * 3 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 3 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-sm);
  }

  &.x-iconbox-md {
    height: calc(var(--font-size-base) * 4 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 4 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-sm);
  }

  &.x-iconbox-lg {
    height: calc(var(--font-size-base) * 5 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 5 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-md);
  }

  &.x-iconbox-xl {
    height: calc(var(--font-size-base) * 8 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 8 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-lg);
  }

  &.x-iconbox-2xl {
    height: calc(var(--font-size-base) * 10 * var(--x-iconbox-size-factor));
    width: calc(var(--font-size-base) * 10 * var(--x-iconbox-size-factor));
    border-radius: var(--radius-lg);
  }

  &.x-iconbox-primary {
    background-color: var(--color-primary);
  }

  &.x-iconbox-secondary {
    background-color: var(--color-secondary);
  }

  &.x-iconbox-info {
    background-color: var(--color-info);
  }

  &.x-iconbox-success {
    background-color: var(--color-success);
  }

  &.x-iconbox-warning {
    background-color: var(--color-warning);
  }

  &.x-iconbox-danger {
    background-color: var(--color-danger);
  }

  &.x-iconbox-system {
    background-color: var(--color-system);
  }

  &.x-iconbox-gray {
    background-color: var(--color-gray);
  }

  &.x-iconbox-transparent {
    background-color: transparent;
  }
}
