.x-list {
  --x-list-item-line-height: 3em;
  --x-list-item-padding: 0 1.5em;
  --x-list-header-color: var(--color-text-light);
  --x-list-header-padding: .5rem 1.5rem 0.1rem;
  --x-list-header-font-size: var(--font-size-xs);

  margin: 1rem 0;
  user-select: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  & > .x-list-header {
    display: block;
    padding: var(--x-list-header-padding);
    font-size: var(--x-list-header-font-size);
    color: var(--x-list-header-color);
    white-space: nowrap;
  }

  & > .x-list-item {
    @apply x-row;

    & .icon {
      margin-left: 0;
    }
    
    padding: var(--x-list-item-padding);
    line-height: var(--x-list-item-line-height);
    cursor: pointer;

    &.active, &:hover {
      background: var(--color-bg-active);
      color: var(--color-text-active);

      & .icon {
        color: var(--color-icon-active);
      }
    }
  }
}
