.x-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.x-navbar-align-start {
    justify-content: flex-start;

    &:last-child {
      flex: 1 1 0%;
    }
  }

  &.x-navbar-align-end {
    justify-content: flex-end;

    &:first-child {
      flex: 1 1 0%;
    }
  }

  &.x-navbar-align-center {
    justify-content: center;
  }

  &.x-navbar-align-around {
    justify-content: space-around;
  }

  &.x-navbar-align-between {
    justify-content: space-between;
  }
}

.x-navbar-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.x-navbar-align-start {
    justify-content: flex-start;

    &:last-child {
      flex: 1 1 0%;
    }
  }

  &.x-navbar-align-end {
    justify-content: flex-end;

    &:first-child {
      flex: 1 1 0%;
    }
  }

  &.x-navbar-align-center {
    justify-content: center;
  }

  &.x-navbar-align-around {
    justify-content: space-around;
  }

  &.x-navbar-align-between {
    justify-content: space-between;
  }
}
