.x-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: var(--x-tab-bg);
  font-size: var(--x-tab-font-size);
  font-weight: var(--x-tab-font-weight);
  margin: var(--x-tab-margin) 0;

  & > .x-tab-item {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    line-height: var(--x-tab-line-height);
    padding: 0 var(--x-tab-padding);
    border: var(--x-tab-border-width) solid transparent;
    border-radius: var(--x-tab-border-radius);
    margin: 0 var(--x-tab-gap);
    text-align: center;
    align-items: center;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    & .icon {
      margin: 0 var(--row-icon-margin);
      margin: 0.5rem;
      margin-bottom: 0.065em;
    }

    & .tools {
      flex: 1 1 0%;
      text-align: right;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background: none;
    }

    & > .icon:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: var(--x-tab-hover-bg);
      border-color: var(--x-tab-hover-border-color);
      color: var(--x-tab-hover-color);
    }

    &.active {
      background-color: var(--x-tab-selection-bg);
      border-color: var(--x-tab-border-color);
      color: var(--x-tab-selection-color);
      font-size: var(--x-tab-selection-font-size);
      font-weight: var(--x-tab-selection-font-weight);
    }
  }

  &.x-tab-top {
    margin-bottom: 0;

    & > .x-tab-item {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: -1px;

      &:hover {
        border-bottom-color: var(--x-tab-border-color);
      }

      &.active {
        border-bottom: 0;
      }
    }
  }

  &.x-tab-bottom {
    margin-top: 0;

    & > .x-tab-item {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -1px;

      &:hover {
        border-top-color: var(--x-tab-border-color);
      }

      &.active {
        border-top: 0;
      }
    }
  }

  &.x-tab-outline {
    --x-tab-border-width: 1px;

    & > .x-tab-item {
      background-color: transparent;

      &:hover,
      &.active {
        background-color: var(--color-bg-base);
      }
    }
  }

  &.x-tab-outline-panel {
    --x-tab-border-width: 1px;

    & > .x-tab-item {
      background-color: transparent;

      &:hover,
      &.active {
        background-color: var(--color-bg-panel);
      }
    }
  }

  &.x-tab-bg-panel {
    --x-tab-selection-bg: var(--color-bg-panel);
  }

  &.x-tab-bg-base {
    --x-tab-selection-bg: var(--color-bg-base);
  }

  &.x-tab-bg-active {
    --x-tab-selection-bg: var(--color-bg-active);
  }

  &.x-tab-bg-white {
    --x-tab-selection-bg: var(--color-bg-white);
  }

  &.x-tab-bg-primary {
    --x-tab-selection-bg: var(--color-primary);
    --x-tab-underline-color: var(--color-primary);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-info {
    --x-tab-selection-bg: var(--color-info);
    --x-tab-underline-color: var(--color-info);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-success {
    --x-tab-selection-bg: var(--color-success);
    --x-tab-underline-color: var(--color-success);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-warning {
    --x-tab-selection-bg: var(--color-warning);
    --x-tab-underline-color: var(--color-warning);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-danger {
    --x-tab-selection-bg: var(--color-danger);
    --x-tab-underline-color: var(--color-danger);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-system {
    --x-tab-selection-bg: var(--color-system);
    --x-tab-underline-color: var(--color-system);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-black {
    --x-tab-selection-bg: var(--color-black);
    --x-tab-underline-color: var(--color-black);
    --x-tab-selection-color: var(--color-white);
  }

  &.x-tab-bg-border {
    --x-tab-selection-bg: var(--color-border);
    --x-tab-underline-color: var(--color-border);
    --x-tab-selection-color: var(--color-text);
  }

  &.x-tab-align-start {
    justify-content: flex-start;
  }

  &.x-tab-align-end {
    justify-content: flex-end;
  }

  &.x-tab-align-center {
    justify-content: center;
  }

  &.x-tab-align-around {
    justify-content: space-around;
  }

  &.x-tab-align-between {
    justify-content: space-between;
  }

  &.x-tab-stretch {
    & > .x-tab-item {
      flex: 1 1 0%;
    }
  }

  &.x-tab-plain {
    & > .x-tab-item {
      background-color: transparent;
      line-height: 1.8rem;
      padding: 0;
      border: none;
      border-radius: var(--x-tab-border-radius);
      margin: 0 var(--x-tab-gap);
      margin-right: 2.4em;
      font-size: intitial;
      border: 0;
      border-radius: 0;
      letter-spacing: 0.025em;
      color: var(--color-text-default);

      &:hover {
        background-color: transparent;
        border-color: var(--x-tab-selection-color);
        font-weight: initial;
      }

      &.active {
        background-color: transparent;
        border-color: var(--x-tab-selection-bg);
        color: var(--color-text-active);
        font-weight: initial;
      }
    }

    &.x-tab-underline {
      & > .x-tab-item {
        border-bottom: 2px solid transparent;

        &:hover {
          border-color: var(--x-tab-underline-color);
          opacity: 0.9;
        }

        &.active {
          border-color: var(--x-tab-underline-color);
        }
      }
    }
  }

  &.x-tab-xs {
    font-size: calc(var(--x-tab-font-size) * 0.8);

    & > .x-tab-item {
      line-height: calc(var(--x-tab-line-height) * 0.6);
      padding: 0 calc(var(--x-tab-padding) * 0.6);
    }
  }

  &.x-tab-sm {
    & > .x-tab-item {
      line-height: calc(var(--x-tab-line-height) * 0.75);
      padding: 0 calc(var(--x-tab-padding) * 0.75);
    }
  }

  &.x-tab-md {
  }

  &.x-tab-lg {
    & > .x-tab-item {
      line-height: calc(var(--x-tab-line-height) * 1.2);
      padding: 0 calc(var(--x-tab-padding) * 2);
    }
  }

  &.x-tab-xl {
    & > .x-tab-item {
      line-height: calc(var(--x-tab-line-height) * 1.5);
      padding: 0 calc(var(--x-tab-padding) * 3);
    }
  }

  &.x-tab-2xl {
    & > .x-tab-item {
      line-height: calc(var(--x-tab-line-height) * 2);
      padding: 0 calc(var(--x-tab-padding) * 4);
    }
  }
}

.x-tab-lined {
  & > .x-tab-item {
    border-radius: 0;
    margin-top: 0;

    &:hover {
      border-top: none;
      margin-top: 0;
    }

    &.active {
      background-color: transparent;
      border-color: transparent;
      color: var(--x-tab-selection-color);
      font-size: var(--x-tab-selection-font-size);
      font-weight: var(--x-tab-selection-font-weight);
      border-bottom: 2px solid var(--color-primary);
      margin-top: 0;
    }
  }

  &.x-tab-bottom {
    & > .x-tab-item {
      &:hover {
        border-top: none;
        border-bottom: none;
        margin-top: 0;
      }

      &.active {
        border-bottom: none;
        border-top: 2px solid var(--color-primary);
      }
    }
  }
}

.x-tab-contents {
  & > * {
    display: none;
  }

  & > .active {
    display: inherit;
  }
}
