.x-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  & > .x-list-header {
    display: block;
    padding: var(--x-list-header-padding);
    font-size: var(--x-list-header-font-size);
    color: var(--x-list-header-color);
    white-space: nowrap;
    line-height: var(--line-height);
    margin: 0;
  }

  & > .x-list-item.x-list-item-hover,
  &.x-list-hover > .x-list-item {
    cursor: pointer;

    &.active {
      background-color: var(--color-bg-active);
    }

    &:hover {
      background-color: var(--color-bg-hover);
      color: var(--color-text-active);

      & .icon {
        color: var(--color-icon-active);
      }
    }
  }

  &.x-list-lined > .x-list-item {
    border-top: var(--x-list-item-border);

    &:first-child {
      border-top: none;
    }
  }

  & > a.x-list-item {
    &:hover {
      color: var(--color-text-link);
    }
  }
}

.x-list-item {
  @apply x-row;

  -font-size: var(--x-list-item-font-size);
  -font-weight: var(--x-list-item-font-weight);

  & .icon {
    margin-left: 0;
  }

  padding: var(--x-list-item-padding);
  line-height: var(--x-list-item-line-height);

  &.x-list-item-disabled {
    & .icon {
      color: var(--color-text-muted);
    }

    color: var(--color-text-muted);
  }
}

.x-list-item.x-list-item-hover {
  cursor: pointer;

  &.active {
    background-color: var(--color-bg-active);
  }

  &:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-text-active);

    & .icon {
      color: var(--color-icon-active);
    }
  }
}

&.x-list-lined > .x-list-item {
  border-top: var(--x-list-item-border);

  &:first-child {
    border-top: none;
  }
}

.x-list-plain {
  @apply mb-5 shadow-none;
  user-select: initial;

  & .x-list-header {
    padding-left: 0;
  }

  & .x-list-item {
    padding: 0;
    line-height: var(--x-list-plain-line-height);
  }

  & > a.x-list-item {
    &.active {
      background-color: transparent;
    }

    &:hover {
      background-color: transparent;
      color: var(--color-text-link);
    }
  }
}
