.x-row {
  @apply flex items-center;

  position: relative;
  vertical-align: middle;
  line-height: var(--row-line-height);
  padding: 0 var(--row-padding);
  -color: var(--row-color-text);
  text-align: left;
  white-space: nowrap;

  & .icon {
    margin: 0 var(--row-icon-margin);
    margin-bottom: 0.065em;
  }

  & .tools {
    @apply flex-1;
    text-align: right;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background: none;
  }
}
