@import './variables-default';
@import './variables-light';
@import './variables-dark';
@import './variables-violet';
@import './variables-red';

:root {
  @apply variables-default;
}

.theme-light {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default;
}

.theme-dark {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-dark;
}

.theme-violet {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-violet;
}

.theme-red {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-red;
}

.theme-inverse {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-dark;
}

/* apply prefers-color-scheme */
@media (prefers-color-scheme: light) {
  :root {
    @apply variables-default;
  }

  .theme-inverse {
    background-color: var(--color-bg-base);
    color: var(--color-text);
    @apply variables-default variables-dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply variables-default variables-dark;
  }

  .theme-inverse {
    background-color: var(--color-bg-base);
    color: var(--color-text);
    @apply variables-default;
  }
}
