.x-badge {
  display: inline-block;
  min-width: 1em;
  padding: .25em .875em .3em .875em;
  margin-left: 6px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 1em;
  background-color: var(--color-badge);
  color: var(--color-badge-text);
  transition: opacity .35s;
  
  &:active, &:focus {
    outline: none !important;
  }
}