.x-select {
  @apply appearance-none bg-transparent text-inherit font-bold w-full border py-3 px-4 rounded leading-tight;
  /* bg-transparent text-inherit  */

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAAqElEQVQ4Ed2QwQ3CUAxDAwUJJuidIZiDKzOwAhN0DJiFKWAY/JSkjUT1VXFCWHLqxM5vf83+EuvGrVqercriXLDOanZcY3gTjzHZjI5Zary7+HFAnn6S+RQPIuiCaGZ4ZEDueKdKGJzFl9jTBNDM8EBmvSt1G/qiJ2/bi7vQzEBmvJuped+rvEcQDdLzrlHzEwdlIMiZdwtq/dNVL1idIix+vTwd89PqDX0QDVew2JkgAAAAAElFTkSuQmCC);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-blend-mode: normal;
  padding-right: 30px;

  &:focus {
    @apply outline-none;
  }
}
