@import './variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './util';
@import './flexbox';

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  line-height: var(--line-height);
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

.focusable {
  & a:not(.outline-none):focus,
  & button:not(.outline-none):focus {
    outline: none;
    box-shadow: var(--outline);
  }
}

h1 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h2 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-4xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h3 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-3xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h4 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h5 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-lg);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h6 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-base);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

hr {
  margin: 1rem 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

a.link,
a.text-link:hover {
  transition: color 0.35s ease-in-out;
  &:hover {
    color: var(--color-text-link-active) !important;
  }
}

mark {
  padding: 0.2em;
  color: var(--color-text-highlight);
  background-color: var(--color-bg-highlight);
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

blockquote {
  margin-bottom: 1rem;
  font-size: var(--font-size-lg);
}

figcaption {
  text-align: center;
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  margin-top: 0.5em;
}

code,
.code {
  font-size: var(--font-size-sm);
  font-family: var(--font-family-mono);
}

ul {
  list-style: disc;
  margin-left: 1rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

/* divide border fix */
.grid-cols-1.divide-border {
  &.divide-x > *:nth-child(n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-2.divide-border {
  &.divide-y > *:nth-child(2) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(2n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-3.divide-border {
  &.divide-y > *:nth-child(-n + 3) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(3n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-4.divide-border {
  &.divide-y > *:nth-child(-n + 4) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(4n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-5.divide-border {
  &.divide-y > *:nth-child(-n + 5) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(5n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-6.divide-border {
  &.divide-y > *:nth-child(-n + 6) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(6n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-7.divide-border {
  &.divide-y > *:nth-child(-n + 7) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(7n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-8.divide-border {
  &.divide-y > *:nth-child(-n + 8) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(8n + 1) {
    border-left-width: 0 !important;
  }
}

li {
  margin: var(--li-margin) 0;
}

[data-toggle] {
  cursor: pointer;
}
