@import './variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './util';
@import './flexbox';

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  line-height: var(--line-height);
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

input:not([type='checkbox']):not([type='radio']),
select,
textarea {
  @apply appearance-none;
}

input,
textarea,
select {
  @apply rounded-sm px-4 leading-tight bg-input;

  line-height: var(--controls-line-height);
  margin: var(--controls-margin);
  vertical-align: var(--controls-vertical-align);
  border: var(--controls-border);
  color: var(--controls-color);
  font-size: var(--controls-font-size);

  &:focus {
    @apply border-transparent outline-none shadow-outline;
  }
}

input,
textarea {
  padding: var(--controls-padding);

  &::placeholder {
    color: var(--controls-placeholder-color);
  }
}

select {
  background-image: var(--controls-select-chevron);
  background-position: var(--controls-select-chevron-position);
  background-repeat: no-repeat;
  background-size: var(--controls-select-chevron-size);
  padding-right: var(--controls-select-chevron-padding);

  & > option {
    padding: var(--controls-select-options-padding);
  }
}

select[multiple] {
  background-image: none;
  background-size: 0;
  padding: 0;
  border-radius: var(--radius-sm);
}

h1 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-5xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h2 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-4xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h3 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-3xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h4 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-2xl);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h5 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-lg);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

h6 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-base);
  color: var(--text-active);
  margin-bottom: 0.5em;
}

hr {
  margin: 1rem 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

a.link {
  &:hover {
    color: var(--color-text-link) !important;
  }
}

mark {
  padding: 0.2em;
  color: var(--color-text-highlight);
  background-color: var(--color-bg-highlight);
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

blockquote {
  margin-bottom: 1rem;
  font-size: var(--font-size-lg);
}

figcaption {
  text-align: center;
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  margin-top: 0.5em;
}

code,
.code {
  font-size: var(--font-size-sm);
  font-family: var(--font-family-mono);
}

ul {
  list-style: disc;
  margin-left: 1rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

/* divide border fix */
.grid-cols-1.divide-border {
  &.divide-x > *:nth-child(n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-2.divide-border {
  &.divide-y > *:nth-child(2) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(2n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-3.divide-border {
  &.divide-y > *:nth-child(-n + 3) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(3n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-4.divide-border {
  &.divide-y > *:nth-child(-n + 4) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(4n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-5.divide-border {
  &.divide-y > *:nth-child(-n + 5) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(5n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-6.divide-border {
  &.divide-y > *:nth-child(-n + 6) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(6n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-7.divide-border {
  &.divide-y > *:nth-child(-n + 7) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(7n + 1) {
    border-left-width: 0 !important;
  }
}

.grid-cols-8.divide-border {
  &.divide-y > *:nth-child(-n + 8) {
    border-top-width: 0 !important;
  }

  &.divide-x > *:nth-child(8n + 1) {
    border-left-width: 0 !important;
  }
}

li {
  margin: var(--li-margin) 0;
}

[data-toggle] {
  cursor: pointer;
}
