@import './variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './util';
@import './flexbox';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  line-height: var(--line-height);
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

input,
textarea {
  background-color: var(--color-bg-input);

  &::placeholder {
    color: var(--color-text-muted);
  }
}

h1 {
  font-size: var(--font-size-5xl);
  margin-bottom: 0.5em;
}

h2 {
  font-size: var(--font-size-4xl);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--font-size-3xl);
  margin-bottom: 0.5em;
}

h4 {
  font-size: var(--font-size-2xl);
  margin-bottom: 0.5em;
}

h5 {
  font-size: var(--font-size-lg);
  margin-bottom: 0.5em;
}

h6 {
  font-size: var(--font-size-base);
  margin-bottom: 0.5em;
}

hr {
  margin: 1rem 0;
}

p {
  margin-top: 0;
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

mark {
  padding: 0.2em;
  color: var(--color-text-highlight);
  background-color: var(--color-bg-highlight);
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

blockquote {
  margin-bottom: 1rem;
  font-size: var(--font-size-lg);
}

figcaption {
  text-align: center;
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  margin-top: 0.5em;
}

code, .code  {
  font-size: var(--font-size-sm);
  font-family: var(--font-family-mono);
}

ul {
  list-style: disc;
  margin-left: 1rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
}