@import './themes/theme-dark';
@import './themes/theme-light';

:root {
  @apply theme-light;

  --x-switch-font-size: var(--font-size-sm);
  --x-switch-size: var(--row-line-height);
  --x-switch-line-height: var(--row-line-height);
  --x-switch-width: 70px;
  --x-switch-border-width: 3px;
  --x-switch-border-radius: 4px;
  --x-switch-text-margin: 8px;
  --x-switch-btn-radius: 4px;
  --x-switch-btn-size: calc(@input-height-base - (var(--x-switch-border-width) * 2));
  --x-switch-btn-pl: calc(var(--x-switch-width) - @input-height-base);
  
}

/* apply prefers-color-scheme */
@media (prefers-color-scheme: light) {
  :root {
    @apply theme-light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply theme-dark;
  }
}
