@import './variables/variables-default';
@import './variables/variables-light';
@import './variables/variables-dark';
@import './variables/variables-violet';
@import './variables/variables-red';

:root {
  @apply variables-default;

  *,
  ::before,
  ::after {
    border-color: var(--color-border);
  }
}

.theme-light {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default;
}

.theme-dark {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-dark;
}

.theme-violet {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-violet;
}

.theme-red {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-red;
}

.theme-inverse {
  background-color: var(--color-bg-base);
  color: var(--color-text);
  @apply variables-default variables-dark;
}

/*
.bg-panel {
  background-color: var(--color-bg-panel);
}

.bg-base {
  background-color: var(--color-bg-base);
}
*/
