.s25 {
  width: 25px;
  height: 25px;
}

.s30 {
  width: 30px;
  height: 30px;
}

.s40 {
  width: 40px;
  height: 40px;
}

.s50 {
  width: 50px;
  height: 50px;
}

.s60 {
  width: 60px;
  height: 60px;
}
