.x-page {
  background-color: var(--x-page-color-bg);
  color: var(--x-page-color-text);
}

.x-page-header {
  display: flex;
  align-items: center;

  background-color: var(--x-page-header-bg);
  border-bottom: 1px solid var(--x-page-header-border);
  padding: var(--x-page-header-padding);
  min-height: var(--x-page-header-min-height);
  box-shadow: var(--x-page-header-shadow);
  margin: 0;

  & small {
    display: inline-block;
    color: var(--color-text-light);
    font-size: 0.75em;
    margin-left: 0.35em;
  }

  &.x-page-header-sm {
    padding: calc(var(--x-page-header-padding) * 0.75);
    min-height: calc(var(--x-page-header-min-height) * 0.75);
  }

  &.x-page-header-sm {
    padding: calc(var(--x-page-header-padding) * 1.25);
    min-height: calc(var(--x-page-header-min-height) * 1.25);
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  & h1 {
    font-size: var(--font-size-2xl);
  }

  & h2 {
    font-size: var(--font-size-xl);
  }

  & h3 {
    font-size: var(--font-size-lg);
  }

  & h4 {
    font-size: var(--font-size-base);
  }

  & h5 {
    font-size: var(--font-size-base);
  }

  & h6 {
    font-size: var(--font-size-base);
  }

  & > .x-page-header-controls {
    display: block;
    position: relative;
    float: right;
    padding-left: 5px;
    margin-right: -8px;

    &.panel-controls-masked {
      background: rgba(0, 0, 0, 0.03);
      border-left: 1px solid var(--color-border);
    }

    & > a {
      display: inline-block;
      padding-top: 1px;
      opacity: 0.7;
      width: 24px;
      color: var(--color-text);
      font-size: 13px;
      font-weight: normal;
      text-align: center;

      &:hover {
        color: var(--color-text);
      }
    }
  }
}
